## Generated

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Aa]rt/
/[Ee]xported[Oo]bj/

/.vscode/
/.vs/
/*.csproj
/*.csproj.meta
/*.unityproj
/*.unityproj.meta
/*.sln
/*.sln.meta
/*.suo
/*.suo.meta
/*.user
/*.user.meta
/*.userprefs
/*.userprefs.meta
/*.pidb
/*.pidb.meta
/*.booproj
/*.booproj.meta
/*.svd
/*.svd.meta


## Artifacts

/*_Data/
/*.exe
/*.app
/*.log
/*.zip
/*.rar
/[Xx][Cc]ode/
/*.apk
/*.unitypackage
/sysinfo.txt
